// added colors
$primary: hsl(237, 18%, 59%);
$body-bg: linear-gradient(hsl(234, 17%, 12%), hsl(235, 16%, 14%));
$dark-blue: hsl(234, 17%, 12%);
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$bottom-card-bg: hsl(236, 21%, 26%);
$dark-blue-bg: hsl(235, 16%, 14%);
$upper-card-bg: hsl(237, 21%, 22%, 1);
