@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-image: linear-gradient(hsl(235, 16%, 14%), #2f2438);
}

ul,
li {
  all: unset;
}

.h-100 {
  height: 100%;
}

.countdown-timer {
  display: flex;
  text-align: center;
  gap: 8px;
  margin: 80px 0;
}

.cards {
  font-size: 42px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 hsl(234, 17%, 12%);
  position: relative;
}

.upper-card-flip {
  position: absolute;
  transform-origin: bottom;
  transform: rotateX(0deg);
  animation: flip-top 0.5s ease-in forwards;
}

.bottom-card-flip {
  position: absolute;
  bottom: 0;
  transform-origin: top;
  transform: rotateX(90deg);
  animation: flip-bottom 0.5s ease-out 0.5s;
}

.time-title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: hsl(237, 18%, 59%);
  margin-top: 40px;
}

.upper-card,
.bottom-card,
.upper-card-flip,
.bottom-card-flip {
  height: 34px;
  width: 70px;
  padding: 6px 8px;
  color: hsl(345, 95%, 68%);
  text-align: center;
  overflow: hidden;
}

.upper-card {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: hsl(237, 21%, 22%);
  opacity: 0.5;
}

.upper-card-flip {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: hsl(237, 21%, 22%);
}

.cards {
  position: relative;
  overflow: hidden;
}
.cards::before, .cards::after {
  top: 30px;
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: hsl(234, 17%, 12%);
  z-index: 10;
}
.cards::before {
  left: -4px;
}
.cards::after {
  right: -4px;
}

.bottom-card,
.bottom-card-flip {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid hsl(234, 17%, 12%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: hsl(236, 21%, 26%);
}

@keyframes flip-top {
  to {
    transform: rotateX(90deg);
  }
}
@keyframes flip-bottom {
  to {
    transform: rotateX(0deg);
  }
}
@media (min-width: 375px) {
  .countdown-timer {
    gap: 12px;
  }
  .cards {
    font-size: 45px;
    box-shadow: 0 4px 0 0 hsl(234, 17%, 12%);
  }
  .time-title {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .upper-card,
  .bottom-card,
  .upper-card-flip,
  .bottom-card-flip {
    height: 40px;
    width: 84px;
    padding: 10px 12px;
  }
  .cards {
    position: relative;
    overflow: hidden;
  }
  .cards::before, .cards::after {
    top: 36px;
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
  }
  .cards::before {
    left: -4px;
  }
  .cards::after {
    right: -4px;
  }
}
@media (min-width: 576px) {
  .countdown-timer {
    gap: 20px;
  }
  .cards {
    font-size: 86px;
    box-shadow: 0 12px 0 0 hsl(234, 17%, 12%);
  }
  .time-title {
    font-size: 20px;
    letter-spacing: 8px;
  }
  .upper-card,
  .bottom-card,
  .upper-card-flip,
  .bottom-card-flip {
    height: 76px;
    width: 160px;
    padding: 20px 16px;
  }
  .cards {
    position: relative;
    overflow: hidden;
  }
  .cards::before, .cards::after {
    top: 70px;
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
  }
  .cards::before {
    left: -5px;
  }
  .cards::after {
    right: -5px;
  }
}
@media (min-width: 768px) {
  .countdown-timer {
    gap: 24px;
  }
  .cards {
    font-size: 90px;
    box-shadow: 0 12px 0 0 hsl(234, 17%, 12%);
  }
  .time-title {
    font-size: 24px;
    letter-spacing: 8px;
  }
  .upper-card,
  .bottom-card,
  .upper-card-flip,
  .bottom-card-flip {
    height: 80px;
    width: 180px;
    padding: 20px 16px;
  }
  .cards {
    position: relative;
    overflow: hidden;
  }
  .cards::before, .cards::after {
    top: 75px;
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
  }
  .cards::before {
    left: -5px;
  }
  .cards::after {
    right: -5px;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Backgrounds  */
.main-container::before {
  content: " ";
  background: url("../../../../launch-countdown-timer-main/assets/images/bg-stars.svg");
  position: absolute;
  background-size: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main-container::after {
  content: " ";
  position: absolute;
  background: url("../../../../launch-countdown-timer-main/assets/images/pattern-hills.svg");
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.launch-title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

.footer {
  width: 100%;
}
.footer .attribution {
  padding: 40px;
  color: white;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  cursor: pointer;
}
.social-media li {
  margin: 0 20px;
}
.social-media li svg:hover path {
  fill: hsl(345, 95%, 68%);
}

/*# sourceMappingURL=styles.css.map */
